body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #17e98e;
    color: #5526baf3;
}

header {
    background: #007acc;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

nav {
    margin: 20px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    margin: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #007acc;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}